{
  "extends": ["standard", "standard-react"],
  "rules": {
    "no-debugger": "off",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-multiple-empty-lines": "warn",
    "space-before-function-paren": "off",
    "semi": "off",
    "camelcase": "off",
    "comma-dangle": "off",
    "padded-blocks": "off",
    "indent": "warn",
    "no-constant-condition": "warn",
    "no-unused-expressions": "off",

    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-tag-spacing": "off",
    "react/self-closing-comp": "off",
    "react/prop-types": "warn",
    "react/jsx-indent": "off"
  }
}
