$useAuxiOtl: true;
$auxiOtlColor: black;

@mixin otl($c: $auxiOtlColor, $s: solid, $w: 1px) {
  @if ($useAuxiOtl) {
    outline: $w $s $c;
  }
}

%block-center {
  display: flex;
  align-item: center;
  justify-content: center;
}

@mixin rect($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  right-left: auto;
}

@mixin cell() {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
}

// 全屏方案
//
@mixin fullscreen-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

// 垂直居中方案
//
@mixin inbl-center-box {
  white-space: nowrap;  /* 防止inline-block元素换行 */
  &:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
    flex: 0; /* 防止flex-direction: column破坏垂直居中 */
  }
  > :first-child {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin flex-center-box($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

// 水平多列方案
//
// inline-block
// float
// table-cell
// flex

// inline-block
@mixin inbl-col {
  display: inline-block;
  vertical-align: top;
}


// 添加下边栏
@mixin pseudo-border-bottom($width: 1px) {
  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    border: $width solid blue;
  }
  &:first-child:after {
    left: 0;
  }
  &:last-child:after {
    right: 0;
  }
}
