// 被选中文本的样式
::selection {
  color: $white;
  background: darken($primary-color, 10%);
}

// Search Bar
// ----------
.search-bar {
  border-color: $primary-color;
  button {
    background-color: $primary-color;
    border-color: $primary-color;
  }

}
// Header Comp
//------------
.top-header {
  background-color: #e8e8e8;
  .wrapper {
    background-color: #e8e8e8;
  }
  .nav-aside {
    // Icon组件
    .user-icon,
    .cart-icon {
      color: #999;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .user-menu {
    .menu-item {
      &:hover {
        background-color: #ddd;
      }
    }
    .icon,
    .text {
      color: #000;
    }
  }
}
