// Floats
// --------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}

// Flex
// --------------------------

.flex-lr {
  display: flex;
  justify-content: space-between;
}
.flex-lr-as {
  @extend .flex-lr;
  align-items: flex-start;
}
.flex-lr-ae {
  @extend .flex-lr;
  align-items: flex-end;
}
.flex-lr-ac {
  @extend .flex-lr;
  align-items: center;
}
.flex-lr-ab {
  @extend .flex-lr;
  align-items: baseline;
}

.flex-full {
  display: flex;
  > * {
    flex: 1;
  }
}
.flex-l-full {
  display: flex;
  > :nth-child(1) {
    flex: 1;
  }
}
.flex-r-full {
  display: flex;
  > :nth-child(2) {
    flex: 1;
  }
}
