// Floats
// --------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}

// Flex 左右列（排开）
// -----------
.flex-lr {
  display: flex;
  justify-content: space-between;
}
.flex-lr-as {
  @extend .flex-lr;
  align-items: flex-start;
}
.flex-lr-ae {
  @extend .flex-lr;
  align-items: flex-end;
}
.flex-lr-ac {
  @extend .flex-lr;
  align-items: center;
}
.flex-lr-ab {
  @extend .flex-lr;
  align-items: baseline;
}

// Flex 左右列（占满）
.flex-full {
  display: flex;
  > * {
    flex: 1;
  }
}
.flex-l-full {
  display: flex;
  > :nth-child(1) {
    flex: 1;
  }
}
.flex-r-full {
  display: flex;
  > :nth-child(2) {
    flex: 1;
  }
}

// heading-underline
// -------

// Margin Padding Classes
// ----------------------
$prop-values-map: (
  'padding': (0, 10, 20, 40),
  'margin': (0, 10, 20, 40)
);

@each $prop, $values in $prop-values-map {
  @if type-of($values) == 'number' {
    @include make-box-props($prop, $values);
  } @else {
  @each $value in $values {
    @include make-box-props($prop, $value);
  }
  }
}
