.product-list {
  padding-top: 20px;
}

.product-item {
  margin-bottom: 30px;
  font-size: 14px;
  padding: 10px;
}

.product-item:hover {
  outline: 1px solid orange;
}

.product-pic {  }

.pic-wrapper {  }

.product-info {  }

.product-title {
  display: block;
  overflow: hidden;
  height: 3em;
  line-height: 3em;
  text-overflow: ellipsis;
}

.product-desc {
  overflow: hidden;
  height: 3em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  font-size: 90%;
}

.product-price {
  font-size: 120%;
  color: red;
}
