.order-confirm {
  width: 990px; }
  .order-confirm .th, .order-confirm .td {
    display: inline-block;
    vertical-align: top; }
  .order-confirm .th {
    position: relative;
    line-height: 2em;
    border: none;
    margin: 0; }
  .order-confirm .th:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    border: 2px solid blue; }
  .order-confirm .td {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5em; }
  .order-confirm .desc-info,
  .order-confirm .cell-info {
    width: 255px; }
  .order-confirm .desc-param,
  .order-confirm .cell-param {
    width: 180px; }
  .order-confirm .desc-price,
  .order-confirm .cell-price {
    width: 120px; }
  .order-confirm .desc-quantity,
  .order-confirm .cell-quantity {
    width: 120px; }
  .order-confirm .desc-discount,
  .order-confirm .cell-discount {
    width: 180px; }
  .order-confirm .desc-sum,
  .order-confirm .cell-sum {
    width: 130px; }
  .order-confirm .order-shopInfo {
    line-height: 2em; }
  .order-confirm .order-list {
    padding: 10px 0; }
    .order-confirm .order-list .cell-info {
      white-space: nowrap; }
    .order-confirm .order-list .cell-image {
      margin-right: 10px; }
    .order-confirm .order-list .image-wrapper {
      display: block;
      width: 50px;
      height: 50px;
      outline: 1px solid rgba(230, 230, 230, 0.5); }
    .order-confirm .order-list .cell-price,
    .order-confirm .order-list .cell-quantity,
    .order-confirm .order-list .cell-discount {
      text-align: center; }
    .order-confirm .order-list .cell-sum {
      text-align: right;
      font-weight: 700;
      color: red; }
  .order-confirm .order-message {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    padding: 8px 0;
    box-sizing: border-box; }
    .order-confirm .order-message .message-name {
      display: inline-block;
      vertical-align: middle; }
    .order-confirm .order-message .message-detail {
      display: inline-block;
      vertical-align: middle; }
      .order-confirm .order-message .message-detail input {
        width: 360px; }
  .order-confirm .order-delivery {
    display: inline-block;
    vertical-align: top;
    width: 540px;
    padding: 8px 0; }
    .order-confirm .order-delivery .delivery-title {
      display: inline-block;
      vertical-align: top;
      width: 110px;
      text-align: right; }
    .order-confirm .order-delivery .delivery-select {
      display: inline-block;
      vertical-align: top;
      width: 430px; }
    .order-confirm .order-delivery .select-price {
      float: right;
      font-weight: 700;
      color: red; }
  .order-confirm .order-total {
    text-align: right;
    line-height: 3em; }
    .order-confirm .order-total .order-sum {
      font-size: 1.5em;
      color: red; }
  .order-confirm .order-payInfo {
    padding: 15px 8px; }
    .order-confirm .order-payInfo .realPay-title,
    .order-confirm .order-payInfo .confrimAddr-title {
      font-weight: 700; }
    .order-confirm .order-payInfo .realPay-price {
      color: red;
      font-size: 2em; }
