// 公共样式
@import 'assets/style/mixin';
@import 'assets/style/vars';

// 页面单元样式
@import './CartItem.scss';
@import './CartFooter.scss';

// 布局辅助线设置
$useAuxiOtl: false;

.top-header {
  width: 100%;
  .wrapper {
    @include otl(purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  .left-box,
  .middle-box,
  .right-box {
    flex: 1;
  }

  .nav-brand {
    @include otl(lime);
    margin-left: 16px;
  }
  .search-bar {
    margin: 0 auto;
  }

  .right-box {
    @include otl(red);
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  .nav-btns {
    .btn {
      margin: 0 5px;
    }
  }
  .nav-aside {
    display: flex;

    .user,
    .cart {
      @include otl(orange);
      @include rect(40px);
      margin: 0 16px;
    }

    // Icon组件
    .user-icon,
    .cart-icon {
      display: block;
      height: 100%;
      padding: 5px;
      font-size: 30px;  // 控制Icon的大小
    }
  }
}

.user-menu {
  margin: -8px -16px;  /* 抵消Popover的padding */

  .menu-item {
    .link {
      display: block;
      line-height: 3;
      font-size: 14px;
      padding: 0 16px;
      cursor: pointer;
    }
    .icon {
      margin-right: 8px;
    }
  }
}

// Theme Style
// -----------
// .top-header {
//   background-color: #e8e8e8;
//   .wrapper {
//     background-color: #e8e8e8;
//   }
//   .user-menu {
//     .menu-item {
//       .link {
//         &:hover {
//           background-color: #eee;
//         }
//       }
//     }
//   }
// }
