@import 'assets/style/mixin';
@import 'assets/style/vars';

$useAuxiOtl: false;

.product-details-page {
  &.wrapper {
    // @include otl(blue);
  }

  .product-intro {
    margin: 16px;
    display: flex;
    justify-content: space-around;
    // border: 1px solid #eee;
  }

  .left {
    // @include otl(orange);
    // @include rect(500px);
    min-height: 500px;
    padding-left: 20px;
  }
  .right {
    @include otl(lime);
    margin-left: 20px;
    width: 500px;
  }
  .product-header {
    padding: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    .product-name {
      // 18px
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .product-descrp {
      // 14px
      font-size: 14px;
    }
  }

  .product-price {
    margin: 10px 0;
    // 16px
    color: black;
    .old-price {
      text-decoration: line-through;
      .symbol {
        font-size: 12px;
      }
      .num {
        font-size: 14px;
      }
    }
    .now-price {
      color: red;
      .symbol {
        // 14px
        font-size: 20px;
      }
      .num {
        // 18px
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  .product-data {
    margin-bottom: 10px;
    padding: 0 6px;
    .comment {
      margin-right: 10px;
    }
    .text {
      font-size: 12px;
    }
    .num {
      display: inline-block;
      font-size: 16px;
      padding: 0 5px;
    }
  }
  .product-choice {
    padding: 6px;
    padding-top: 8px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;

    .choice-amount {
      padding: 10px 0;
    }
  }

  .product-op {
    padding: 0 6px;
    button {
      margin-right: 10px;
    }
  }
}

.gallery {
  .pic-preview {
    @include rect(452px);
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .pic-list {
    position: relative;
    > a {
      @include otl(green);
      position: absolute;
      top: 0;
      width: 22px;
      height: 32px;
      margin: 13px;
    }
    .pic-prev {
      left: 0;
      background: url("/static/media/__sprite.png") 0 -54px;
      &:hover {
        background: url("/static/media/hover-prev.png");
      }
      &.disabled {
        background: url("/static/media/disabled-prev.png");
      }
    }
    .pic-next {
      right: 0;
      background: url("/static/media/__sprite.png") -78px 0;
      &:hover {
        background: url("/static/media/hover-next.png");
      }
      &.disabled {
        background: url("/static/media/disabled-next.png");
      }
    }
  }
  .pic-items {
    @include otl(orange);
    position: relative;
    width: 380px;
    margin: 0 36px;
    height: 58px;
    overflow: hidden;
  }
  .items-wrap {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    white-space: nowrap;
  }
  .pic-item {
    // @include otl(purple);
    display: inline-block;
    vertical-align: top;
    @include rect(58px);
    margin: 0 9px;
    border: 2px solid transparent;
    &:hover,
    &.active {
      border-color: $primary-color;
    }
  }
}
