////////////////////////////
///
/// Cart Detail
///
////////////////////////////

.cart-main {
  width: 990px;
  margin: 0 auto;
  font-size: 14px;

  label {
    margin: 0;
    cursor: pointer;
  }

  .cart-desc {
    margin-bottom: 16px;
    white-space: nowrap;
    .th {
      display: inline-block;
      vertical-align: top;
      position: relative;
      line-height: 3em;
      border: none;
      margin: 0;
      // desc栏的高亮下边
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        bottom: 0;
        left: 1px;
        right: 1px;
        border: 2px solid blue;
      }
      &:first-child:after {
        left: 0;
      }
      &:last-child:after {
        right: 0;
      }
    }
    .desc {
      &-check { width: 50px; }
      &-info { width: 302px; }
      &-param { width: 192px; }
      &-price { width: 120px; }
      &-quantity { width: 120px; }
      &-quantity { width: 120px; }
      &-sum { width: 105px; }
      &-opera { width: 99px; }
    }
  }
  .order-list {
    .order-content {
      margin-bottom: 15px;
      border: 1px solid #ccc;
    }
  }
  .order-shopInfo {
    line-height: 3em;
    outline: 1px solid blue;
      .checkOrder {
        display: inline-block;
      }
      .shopIcon {
        margin: 0 5px;
      }
  }
  .item-content {
    padding: 16px 0;
    border-bottom: 1px solid #e7e7e7;

    &:last-child {
      border-bottom: none;
    }

    .col {
      display: table-cell;
      vertical-align: middle;
      line-height: 1.5em;
    }
    .cell {
      &-check { width: 50px; }
      &-info { width: 302px; }
      &-image { width: 80px; height: 80px; float: left; }
      &-title { margin-left: 80px; padding: 0 10px; }
      &-param { width: 192px; }
      &-price { width: 120px; }
      &-quantity { width: 120px; }
      &-sum {  width: 105px; }
      &-opera { width: 99px; }

      &-price,
      &-sum { padding-right: 10px; text-align: right; }
      &-check,
      &-quantity { text-align: center; }
      &-opera { padding-left: 10px; }
    }
    .price-now {
      font-weight: 700;
    }
    .item-sum {
      font-weight: 700;
      color: red;
    }
  }
  .order-footer {
    line-height: 3.2em;
    background-color: hsla(0, 0, 40%, 0.3);

    .footer-check,
    .footer-opera {
      display: inline-block;
      vertical-align: top;
    }
    .footer-right {
      float: right;
    }
  }
  .footer-opera {
    margin-left: 15px;

    a {
      display: inline-block;
      vertical-align: top;
      padding: 0 .5em;
    }
  }
  // Layout
  .footer-right {

    .amount-sum,
    .price-sum,
    .checkout,
    .price-sum > *,
    .amount-sum > * {
      display: inline-block;
      vertical-align: top;
    }
    .amount-sum {
      margin: 0 10px;
    }
    .selectedItemCount,
    .price {
      color: red;
      font-weight: 700;
    }
    .selectedItemCount {
      padding: 0 4px;
      font-size: 130%;
    }
    .price {
      font-size: 170%;
    }
    .totalSymbol {
      vertical-align: baseline;
      font-size: 60%;
      font-weight: normal;
    }
    .checkout {
      padding: 0 40px;
      line-height: inherit;
      color: #fff;
      background-color: orange;
      font-size: 20px;
      border-radius: 5px;
    }
  }
}
