.data-grid-container {
  display: table;
  margin: 5px 20px;
  width: 100%;

  .tr {
    display: table-row;
    line-height: 3em;

    background-color: #fff;
  }

  .th, .td {
    display: table-cell;
    box-sizing: border-box;
    border: 1px solid silver;
    text-align: center;
  }

  .th {
    font-weight: bold;
  }
}

.data-grid {
  [class*="col-"] {
    height: auto;
  }
}

.desc-name,
.cell-name {
  width: 160px;
}
.desc-position,
.cell-position {
  width: 220px;
}
.desc-office,
.cell-office {
  width: 140px;
}
.desc-age,
.cell-age {
  width: 60px;
}
.desc-startDate,
.cell-startDate {
  width: 120px;
}
.desc-salary,
.cell-salary {
  width: 100px;
}
