@import 'assets/style/mixin';
@import './CartItem.scss';
@import './CartFooter.scss';

// 布局辅助线设置
$useAuxiOtl: false;

.top-header {
  background-color: #e8e8e8;

  .wrapper {
    // @include otl(purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  .left-box,
  .middle-box,
  .right-box {
    flex: 1;
  }

  .nav-brand {
    @include otl(lime);
    // @include rect(100px);
    margin-left: 16px;
  }
  .search-bar {
    margin: 0 auto;
  }

  .right-box {
    @include otl(red);
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  .nav-btns {
    .btn {
      margin: 0 5px;
    }
  }
  .nav-aside {
    display: flex;

    .user,
    .cart {
      @include otl(orange);
      @include rect(40px);
      margin: 0 16px;
    }

    // Icon组件
    .user-icon,
    .cart-icon {
      display: block;
      height: 100%;
      font-size: 30px;  // 控制Icon的大小
      padding: 5px;
      color: #999;
      &:hover {
        color: green;
        // background-color: #fff;
      }
    }
  }
}

.user-menu {
  margin: -8px -16px;  /* 抵消Popover的padding */

  .menu-item {
    line-height: 3;
    font-size: 14px;
    padding: 0 16px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
    .icon,
    .text {
      color: black;
    }
    .icon {
      margin-right: 8px;
    }
  }
}
