// clearfix
@mixin clearfix {
    // display: inline-block;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
        // height: 0;
        // visibility: hidden;
    }
    // * html & { height: 1px };
}

@mixin square($length) {
  width: $length;
  height: $length;
}